.aboutMe {
    border: 1px solid gray;
    margin-top: 7px;
    background-color: white;
    border-radius: 3px 3px;
    box-shadow: 0 20px 40px 0 rgba(15, 15, 15, 0.4);
}


.thumbnailPic {
    margin-top: 5px;
    box-shadow: 0 20px 30px 0 rgba(15, 15, 15, 0.4);
}

.titleWord {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Lora', serif;

}

body {
    height: auto;
    background-image: url("./Images/Vinewall.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
}

.inputField {
    border: 1px solid gray;
    border-radius: 8px 8px;
    background-color: white;
    margin: 8px;
    box-shadow: 0 20px 40px 0 rgba(15, 15, 15, 0.6);
}

.submitBtn {
    margin-bottom: 4px;
}

.emailHead {
    text-align: center;
}

.webInfo {
    text-align: center;
    border: 1px solid gray;
    background-color: white;
    box-shadow: 0 40px 60px 0 rgba(15, 15, 15, 0.4);
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 4px 4px;
}

.webImg {
    border: 2px solid gray;
}

.title {
    text-align: center;
    background-color: rgb(60, 205, 125, .8);
    border: 1px solid black;
    margin-top: 5px;
    box-shadow: 0 20px 30px 0 rgba(15, 15, 15, 0.4);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 4px 4px;
}